<div class="container border p-2 mt-5">
    <div class=" d-flex justify-content-end mt-3">
        <button class="btn btn-danger">
            <a routerLink="/connexion" class="text-decoration-none fs-5 text-light fw-bold"><i class="fa fa-sign-out"
                    aria-hidden="true"></i>Déconnexion</a>
        </button>
    </div>
    <div class="">
        <h2 class=" text-center my-3">Liste Corbeille</h2>
    </div>

    <div class=" mt-5">
        <button class="btn btn-dark">
            <a routerLink="/liste" class="text-decoration-none text-light fs-5">Voir liste contacts</a>
        </button>
    </div>

    <div class="mt-5 border p-2">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Téléphone</th>
                    <!-- <th scope="col">Etat</th>
                        <th scope="col">Date création</th> -->
                    <th scope="col">Description</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <!-- <th scope="col"></th>
                        <th scope="col"></th> -->
                    <th scope="col"></th>
                    <th scope="col">
                        <button class="btn btn-info text-light">Restaurer</button>
                    </th>
                </tr>
            </tbody>
        </table>

    </div>
</div>